<header class="sticky-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-3 d-flex justify-content-between align-items-center">
        <a routerLink="">
          <p>Dinner Lizard <span class="mdi mdi-food text-success"></span></p>
        </a>
        <a routerLink="cart">
          <button class="btn btn-success" title="Go To Your Cart">
            <i class="mdi mdi-cart me-2"></i>
            <span>{{cartCount}}</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer></footer>